<div class="classify">
    <div class="classify_hd">
        当前共 10 个分类
    </div>
    <div class="category">
        <a href="/tags/CSS" class="category_item">CSS (20)</a>
        <a href="/tags/JavaScript" class="category_item">JavaScript(34)</a>
        <a href="/tags/计算机基础" class="category_item">计算机基础 (9)</a>
    </div>
</div>

<div class="classify">
    <div class="classify_hd">
        当前共 60 个标签
    </div>
    <div class="tag">
    <!--<% page.tag.forEach(function(item){ %>-->
        <!--<a href="/tags/读书笔记" class="hover-highlight tag_item text-lg">读书笔记</a>-->
    <!--<% }) %>-->
    </div>
</div>