<header class="page_hd" data-v-04342fbc="">
    <div class="container header" data-v-04342fbc="">
        <h1 class="logo" data-v-04342fbc="">
            <a href="/" class="nuxt-link-exact-active nuxt-link-active" data-v-04342fbc="">橙红年代</a>
        </h1>
        <div class="show-md" data-v-04342fbc="">
            <div class="btn-list" data-v-04342fbc="">
                <div class="btn-icon" data-v-04342fbc="">
                    <span class="btn-line" data-v-04342fbc=""></span>
                    <span class="btn-line" data-v-04342fbc=""></span>
                    <span class="btn-line" data-v-04342fbc=""></span>
                </div>
            </div>
        </div>
        <nav class="nav-responsive" data-v-04342fbc="">
            <a href="/" class="nuxt-link-exact-active nuxt-link-active nav_item" data-v-04342fbc="">
                <i class="iconfont icon-home" data-v-04342fbc=""></i> 首页</a>
            <a href="/tags" class="nav_item" data-v-04342fbc="">
                <i class="iconfont icon-tag" data-v-04342fbc=""></i> 标签</a>
            <a href="/archive" class="nav_item" data-v-04342fbc="">
                <i class="iconfont icon-archives" data-v-04342fbc=""></i> 归档
            </a>
        </nav>
    </div>
</header>